body {
    background-color: rgb(255, 246, 214);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 20px auto;
    width: 150px;
}


.username, .password {
    padding: 10px 20px;
    cursor: pointer;
}


.btn {
    background-color: rgb(25, 165, 175);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 30px;
}     

.btn:hover {
    background-color: rgb(175, 25, 92);
    transition: background-color 0.3s ease;

}   
