body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }
}
